/*
// export const rules = {
// 	homeList: {
// 		columns: 'col-md-3',
// 		col7: '',
// 		row: {
// 			paddingLeft: '15px',
// 			borderBottom: '1px solid #e2e2e2'
// 		},
// 		video: {
// 			padding: '0',
// 			paddingRight: '15px',
// 			minHeight: '275px' 
// 		}
// 	},
// 	watchScreen: {
// 		columns: 'col-xs-12',
// 		col5: 'col-xs-5',
// 		col7: 'col-xs-7',
// 		row: {
		
// 		},
// 		video: {
// 			minHeight: '80px'
// 		}
// 	},
// 	searchList: {
// 		columns: 'col-md-3',
// 		video: {
// 			padding: '0',
// 			paddingRight: '15px',
// 			minHeight: '275px' 
// 		}
// 	}
// }

//----------------------
// header {
// 	background-color: red
// }

//css*/
.big-video {
	padding: 0;
	padding-right: 15px;
	min-height: 275px;
	margin-bottom: 15px;
}

.category {
	padding-left: 15px;
	border-bottom: 1px solid #e2e2e2;
}

.watch-screen-padding {
	padding: 0px;
}